* {
    margin: 0;
    padding: 0;
}

nav {
    height: 60px;
    width: 100vw;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(8 8 49);
}

.nav-div {
    height: 60px;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(8 8 49);
    display: flex;
    justify-content: space-around;
    gap: 10%;
    align-items: center;
    position: fixed;
}

.menu-toggle {
    visibility: hidden;
    background-color: white;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2;
    cursor: pointer;
}

#div-header-div1 {
    cursor: pointer;
    box-sizing: border-box;
    font-size: 25px;
    color: white;
    width: 20px;
}

#div-header-div1 p {
    cursor: pointer;
    font-size: 20px;
    color: white;
}

#div-header-div2 ul {
    display: flex;
    gap: 40px;
}

#div-header-div2 ul li {
    text-decoration: none;
    list-style: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

#div-header-div2 ul li:hover {
    font-size: 17px;
    color: white;
    text-decoration: underline;
}

#div-header-div3 {
    text-align: center;
    width: 130px;
    height: 27px;
    background-color: rgb(237, 20, 20);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#div-header-div3:hover {
    background-color: rgb(224, 23, 23);
}

.menu {
    list-style: none;
    padding: 0;
}

.hover-area {
    cursor: pointer;
}

.certificates-div {
    display: none;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(8 8 49);
    position: absolute;
    top: 30px;
    left: 62%;
}

.certificates-div:hover,
.menu-item:hover+.certificates-div {
    display: block;
}


/* Nav media query for mobile start*/

@media (min-width:0px) and (max-width:450px) {
    #hamburger {
        visibility: visible;
        width: 20px;
        cursor: pointer;
        color: white;
        position: fixed;
        right: 90%;
    }
    #div-header-div1 {
        cursor: pointer;
        position: absolute;
        left: 70%;
        font-size: 23px;
    }
    #div-header-div2 {
        visibility: hidden;
    }
    #div-header-div3 {
        visibility: hidden;
    }
    .nav-div {
        height: 60px;
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgb(8 8 49);
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        left: 0px;
    }
}


/* Nav media query for tab start*/

@media (min-width:451px) and (max-width:1024px) {
    #hamburger {
        visibility: visible;
        width: 20px;
        cursor: pointer;
        color: white;
        position: fixed;
        right: 90%;
    }
    #div-header-div1 {
        cursor: pointer;
        position: absolute;
        left: 75%;
    }
    #div-header-div2 {
        visibility: hidden;
    }
    #div-header-div3 {
        visibility: hidden;
    }
    .nav-div {
        height: 60px;
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgb(8 8 49);
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        left: 0px;
    }
}

.section1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(8 8 49);
    box-shadow: 0 0 30px 10px rgba(15, 15, 49, 0.9);
    margin-bottom: 70px;
}


/* Khitij img div */

#div-main-div1 {
    width: 25%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    border: 4px solid white;
    box-shadow: 0 0 30px 10px rgba(253, 252, 252, 0.811);
    margin-bottom: 80px;
}

#div-main-div1 img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#div-main-div2 {
    width: 50%;
    box-sizing: border-box;
    background-color: white;
    border: 4px solid white;
    padding: 20px;
    box-shadow: 0 0 30px 10px rgb(255, 174, 0);
    margin-bottom: 10%;
}

#div-main-div2 p {
    font-size: 20px;
    font-family: monospace, arial, sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Nav media query for mobile start*/

@media (min-width:0px) and (max-width:450px) {
    .menu-toggle {
        visibility: visible;
        background-color: white;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 2;
        cursor: pointer;
    }
    .menu-toggle input {
        display: none;
    }
    .menu-toggle span {
        display: block;
        width: 30px;
        height: 5px;
        margin: 6px 0;
        background-color: black;
        transition: 0.4s;
    }
    .menu-toggle input:checked~.menu span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .menu-toggle input:checked~.menu span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle input:checked~.menu span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
    .menu {
        position: fixed;
        top: 0%;
        left: -100%;
        width: 250px;
        height: 100%;
        background-color: rgb(8, 8, 49);
        transition: left 0.4s ease;
        padding-top: 10px;
    }
    .menu ul {
        list-style: none;
        padding: 0;
    }
    .menu ul li {
        padding: 15px;
        text-align: center;
    }
    .menu ul li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
    .menu-toggle input:checked~.menu {
        left: 0;
    }
    .certificates-div {
        display: none;
        margin-top: 10px;
        padding: 10px;
        font-size: 16px;
        width: 150px;
        border-radius: 10px;
        background-color: rgb(8 8 49);
        position: absolute;
        top: 330px;
        left: 70%;
    }
    .certificates-div:hover,
    .menu-item:hover+.certificates-div {
        display: block;
    }
    .section1 {
        width: 100vw;
        height: 150vh;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        background-color: rgb(8 8 49);
        box-shadow: 0 0 30px 10px rgba(15, 15, 49, 0.9);
        margin-bottom: 70px;
    }
    /* Khitij img div */
    #div-main-div1 {
        width: 70%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        border-radius: 100%;
        border: 4px solid white;
        box-shadow: 0 0 30px 10px rgba(253, 252, 252, 0.811);
        margin-top: 30px;
    }
    #div-main-div2 {
        width: 80%;
        box-sizing: border-box;
        background-color: white;
        border: 4px solid white;
        padding: 20px;
        box-shadow: 0 0 30px 10px rgb(255, 174, 0);
        margin-bottom: 10%;
    }
    #div-main-div2 p {
        font-size: 15px;
        font-family: monospace, arial, sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}


/* Media query for tab*/

@media (min-width:451px) and (max-width:1024px) {
    .menu-toggle {
        visibility: visible;
        background-color: white;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 2;
        cursor: pointer;
    }
    .menu-toggle input {
        display: none;
    }
    .menu-toggle span {
        display: block;
        width: 30px;
        height: 5px;
        margin: 6px 0;
        background-color: black;
        transition: 0.4s;
    }
    .menu-toggle input:checked~.menu span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .menu-toggle input:checked~.menu span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle input:checked~.menu span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
    .menu {
        position: fixed;
        top: 0%;
        left: -100%;
        width: 250px;
        height: 100%;
        background-color: rgb(8, 8, 49);
        transition: left 0.4s ease;
        padding-top: 10px;
    }
    .menu ul {
        list-style: none;
        padding: 0;
    }
    .menu ul li {
        padding: 15px;
        text-align: center;
    }
    .menu ul li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
    .menu-toggle input:checked~.menu {
        left: 0;
    }
    .certificates-div {
        display: none;
        margin-top: 10px;
        padding: 10px;
        font-size: 16px;
        width: 150px;
        border-radius: 10px;
        background-color: rgb(8 8 49);
        position: absolute;
        top: 330px;
        left: 70%;
    }
    .certificates-div:hover,
    .menu-item:hover+.certificates-div {
        display: block;
    }
    .section1 {
        width: 100vw;
        height: 150vh;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        background-color: rgb(8 8 49);
        box-shadow: 0 0 30px 10px rgba(15, 15, 49, 0.9);
        margin-bottom: 70px;
    }
    /* Khitij img div */
    #div-main-div1 {
        width: 50%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        border-radius: 100%;
        border: 4px solid white;
        box-shadow: 0 0 30px 10px rgba(253, 252, 252, 0.811);
        margin-top: 30px;
    }
    #div-main-div2 {
        width: 80%;
        box-sizing: border-box;
        background-color: white;
        border: 4px solid white;
        padding: 20px;
        box-shadow: 0 0 30px 10px rgb(255, 174, 0);
        margin-bottom: 10%;
    }
    #div-main-div2 p {
        font-size: 25px;
        font-family: monospace, arial, sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

.footer-div {
    height: 80px;
    width: 100vw;
    font-size: 20px;
    font-family: monospace, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(8 8 49);
}


/* Media query for mobile*/

@media (min-width:0px) and (max-width:450px) {
    .footer-div {
        height: 80px;
        width: 100vw;
        font-size: 20px;
        font-family: monospace, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        background-color: rgb(8 8 49);
        position: relative;
        bottom: 0%;
    }
}


/* Media query for tab*/

@media (min-width:451px) and (max-width:1024px) {
    .footer-div {
        height: 80px;
        width: 100vw;
        font-size: 20px;
        margin-top: 5%;
        font-family: monospace, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        background-color: rgb(8 8 49);
        position: relative;
        bottom: 0%;
    }
}